<h3>Our Products</h3>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let product of productsList">
        <th scope="row">{{product.id}}</th>
        <td>{{product.prodName}}</td>
        <td>{{product.prodPrice}}</td>
        <td>{{product.prodDesc}}</td>
      </tr>
     
    </tbody>
  </table>